.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.info {
  font-size: 17px;
  font-family: helvetica, serif;
  text-decoration: none;
  text-align: left;
  justify-self: start;
}

